@import "tailwindcss";

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Bold.ttf") format("ttf");
}

@layer base {
  html {
    font-size: clamp(14px, 1.25vw, 18px);
  }

  /* Border to distinguish title bar from page content */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #d1d5db;
    z-index: 50;
  }
}

:root {
  font-family: "Lato", sans-serif;
}
